.bodybg{
    background-image: url(../pics/bank.png);
    background-repeat: no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.object-fit{
    object-fit:cover;
    height: 100%;
}